{{ header }}
<!--<section class="home-slider-block" style="max-width:100%;overflow: hidden;">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
		<div class="swiper-slide slide-home-sect slide-home-sect-second" style="background-image: url(image/catalog/woodtech_item/frontend/bgsection/sodruzhestvo.jpg)">
			 <div class="container">
				  <div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							 <div class="home-poster-slick-item-content" style="height: 600px;">
								  <div class="home-poster-slick-item-brand">
										Фабрика Wanmark
								  </div>
								  <div class="home-poster-slick-item-text">
										<p>Оптимальное соотношение цены и качества</p></div>
								  <a href="/mezhkomnatnye-dveri/sodruzhestvo" class="home-poster-slick-item-link" tabindex="0"><span>Подробнее</span></a>
							 </div>
						</div>
				  </div>
			 </div>
		</div>
        <div class="swiper-slide slide-home-sect slide-home-sect-first" style="background-image: url(/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="home-poster-slick-item-content" style="height: 600px;">
                            <div class="home-poster-slick-item-brand">
                                Серия LK
                            </div>
                            <div class="home-poster-slick-item-text">
                                <p>Актуальное сочетание вставки с однотонными покрытиями</p></div>
                            <a href="/mezhkomnatnye-dveri" class="home-poster-slick-item-link" tabindex="0"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide-home-sect slide-home-sect-thirt" style="background-image: url(/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="home-poster-slick-item-content" style="height: 600px;">
                            <div class="home-poster-slick-item-brand">
                                Серия LK
                            </div>
                            <div class="home-poster-slick-item-text">
                                <p>Актуальное сочетание вставки с однотонными покрытиями</p></div>
                            <a href="/mezhkomnatnye-dveri" class="home-poster-slick-item-link" tabindex="0"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide-home-sect slide-home-sect-fourth" style="background-image: url(/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="home-poster-slick-item-content" style="height: 600px;">
                            <div class="home-poster-slick-item-brand">
                                Серия LK
                            </div>
                            <div class="home-poster-slick-item-text">
                                <p>Актуальное сочетание вставки с однотонными покрытиями</p></div>
                            <a href="/mezhkomnatnye-dveri" class="home-poster-slick-item-link" tabindex="0"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide slide-home-sect slide-home-sect-seven" style="background-image: url(/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="home-poster-slick-item-content" style="height: 600px;">
                            <div class="home-poster-slick-item-brand">
                                Серия LK
                            </div>
                            <div class="home-poster-slick-item-text">
                                <p>Актуальное сочетание вставки с однотонными покрытиями</p></div>
                            <a href="/mezhkomnatnye-dveri" class="home-poster-slick-item-link" tabindex="0"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
</section>-->

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
<section class="content-top-home">
    <div class="container contain-cont-home">
        <div class="row contain-row-home">
            {{ content_top }}
        </div>
    </div>
</section>




<section class="sectfilters">
	<div class="container">
		<div class="row">
			<div class="text-title">
				<div class="content-title">Подбор дверей по характеристикам</div>
			 </div>
			<div class="wrp-links">
				<div class="wrp-lblock">
				<div class="linkblock">
					<div class="linkblock-h"><span>Тип</span></div>
				<ul>
					<li><a href="/mezhkomnatnye-dveri/derevjannye/">Деревянные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/steklyannye/">Стеклянные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/iz-massiva/">Двери из массива</a></li>
					<li><a href="/mezhkomnatnye-dveri/mdf/">Двери МДФ</a></li>
					<li><a href="/mezhkomnatnye-dveri/alyuminievye/">Алюминиевые двери</a></li>
				  <li><a href="/mezhkomnatnye-dveri/skrytye/">Скрытые двери</a></li>
				</ul>
				</div>
				
				<div class="linkblock">
					<div class="linkblock-h"><span>Покрытие</span></div>
				
				<ul>
					<li><a href="/mezhkomnatnye-dveri/shponirovannye/">Шпонированные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/krashennye/">Крашеные</a></li>
					<li><a href="/mezhkomnatnye-dveri/laminirovannye/">Ламинированные</a></li>
				</ul>
				</div>
				
				<div class="linkblock">
					<div class="linkblock-h"><span>Открывание</span></div>
				
				<ul>
					<li><a href="/mezhkomnatnye-dveri/raspashnye/">Распашные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/razdvizhnye/">Раздвижные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/kupe/">Двери купе</a></li>
					<li><a href="/mezhkomnatnye-dveri/penal/">Двери пенал</a></li>
					<li><a href="/mezhkomnatnye-dveri/roto/">Рото-двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/dvojnye/">Двойные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/odnostvorchatye/">Одностворчатые</a></li>
				</ul>
				</div>
				</div>
				
				<div class="wrp-lblock">
				<div class="linkblock">
					<div class="linkblock-h"><span>Оформление</span></div>
				
				<ul>
					<li><a href="/mezhkomnatnye-dveri/gluhie/">Глухие</a></li>
					<li><a href="/mezhkomnatnye-dveri/so-steklom/">Со стеклами</a></li>
					<li><a href="/mezhkomnatnye-dveri/s-zerkalom/">С зеркалами</a></li>
					<li><a href="/mezhkomnatnye-dveri/filenchatye/">Филенчатые</a></li>
					<li><a href="/mezhkomnatnye-dveri/s-frezerovkoy/">С фрезеровкой</a></li>
					<li><a href="/mezhkomnatnye-dveri/glyancevye/">Глянцевые</a></li>
					<li><a href="/mezhkomnatnye-dveri/diver-s-dekorativnimi-vstavkami/">Двери с декоративными вставками</a></li>
					<li><a href="/mezhkomnatnye-dveri/dveri-s-moldingami/">Двери с молдингами</a></li>
				</ul>
				</div>
				
				<div class="linkblock">
					<div class="linkblock-h"><span>Стили</span></div>
				
				<ul>
					<li><a href="/mezhkomnatnye-dveri/klassicheskie/">Классические двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/sovremennye/">Современные двери</a></li>
					<li><a href="/mezhkomnatnye-dveri/hi-tech/">Хай-тек</a></li>
					<li><a href="/mezhkomnatnye-dveri/modern/">Модерн</a></li>
					<li><a href="/mezhkomnatnye-dveri/v-skandinavskom-stile/">Скандинавский стиль</a></li>
					<li><a href="/mezhkomnatnye-dveri/loft/">Двери лофт</a></li>
					<li><a href="/mezhkomnatnye-dveri/provans/">Прованс</a></li>
				</ul>
				</div>
				</div>
				
				<div class="wrp-lblock">
				<div class="linkblock">
					<div class="linkblock-h"><span>Назначение</span></div>
				
				<ul>
					<li><a href="/mezhkomnatnye-dveri/dlya-vannoj-i-tualeta/">Ванная и туалет</a></li>
					<li><a href="/mezhkomnatnye-dveri/na-kuhnyu/">Кухня</a></li>
					<li><a href="/mezhkomnatnye-dveri/dachi/">Дача</a></li>
					<li><a href="/mezhkomnatnye-dveri/gostinici/">Гостиницы</a></li>
					<li><a href="/mezhkomnatnye-dveri/v-kladovku/">Кладовка</a></li>
					<li><a href="/mezhkomnatnye-dveri/v-ofis/">Офис</a></li>
				</ul>
				</div>
				
				<div class="linkblock">
					<div class="linkblock-h"><span>Цена</span></div>
				
				<ul>
					<li><a href="/rasprodazha/">Распродажа</a></li>
					<li><a href="/mezhkomnatnye-dveri/ekonom/">Эконом</a></li>
					<li><a href="/mezhkomnatnye-dveri/premium/">Премиум</a></li>
					<li><a href="/mezhkomnatnye-dveri/elitnye/">Элитные</a></li>
				</ul>
				</div>
				
				<div class="linkblock">
					<div class="linkblock-h"><span>Производители</span></div>
				
				<ul>
					<li><a href="/">Miksal</a></li>
					<li><a href="/mezhkomnatnye-dveri/unico-doors/">Unico Doors</a></li>
					<li><a href="/mezhkomnatnye-dveri/krasnoderevchik/">Краснодеревщик</a></li>
					<li><a href="/mezhkomnatnye-dveri/dariano/">Dariano</a></li>
					<li><a href="/mezhkomnatnye-dveri/wanmark/">WanMark</a></li>
				</ul>
				</div>
				</div>
				
				<div class="wrp-color">
					<div class="linkblock-h"><span>Цвета</span></div>
				
				<!--<div class="link-clr">
				<a href="/mezhkomnatnye-dveri/serye/"><img src="/image/cache/webp/catalog/color/grey-45x45.webp" alt="Серый"></a>
				<a href="/mezhkomnatnye-dveri/korichnevyj/"><img src="/image/cache/webp/catalog/color/brown-45x45.webp" alt="Коричневый"></a>
				<a href="/mezhkomnatnye-dveri/chernyj/"><img src="/image/cache/webp/catalog/color/black-45x45.webp" alt="Черный"></a>
				<a href="/mezhkomnatnye-dveri/belye/"><img src="/image/cache/webp/catalog/color/white-100x100-45x45.webp" alt="Белый"></a>
				<a href="/mezhkomnatnye-dveri/bezhevyj/"><img src="/image/cache/webp/catalog/color/bejevi-100x100-45x45.webp" alt="Бежевый"></a>
				<a href="/mezhkomnatnye-dveri/dub/"><img src="/image/cache/webp/catalog/color/dub-100x100-45x45.webp" alt="Дуб"></a>
				<a href="/mezhkomnatnye-dveri/venge/"><img src="/image/cache/webp/catalog/color/venge-100x100-45x45.webp" alt="Венге"></a>
				<a href="/mezhkomnatnye-dveri/jeltii/"><img src="/image/cache/webp/catalog/color/piney-100x100-45x45.webp" alt="Желтый"></a>
				<a href="/mezhkomnatnye-dveri/grusha/"><img src="/image/cache/webp/catalog/color/grusha-100x100-45x45.webp" alt="Груша"></a>
				<a href="/mezhkomnatnye-dveri/oreh/"><img src="/image/cache/webp/catalog/color/oreh-100x100-45x45.webp" alt="Орех"></a>
				<a class="alldoor current-link" href="/mezhkomnatnye-dveri/">Показать все двери</a></div>
				</div>-->
		</div>
	</div>
</section>


<section class="sect-home-catg">
	<div class="sect-home-catg-item shci-full">
		<div class="shci-full-bl" style="background-image: url(/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg);">
			<div class="sect-home-catg-item-content">
				<div class="sect-home-catg-item-h">
					Двери в эмали
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(image/catalog/woodtech_item/frontend/bgsection/sodruzhestvo.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Шпонированные двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(https://store.woodtechretail.ru/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Двери из массива
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(image/catalog/woodtech_item/frontend/bgsection/sodruzhestvo.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Алюминиевые двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(https://store.woodtechretail.ru/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Современный стиль
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(image/catalog/woodtech_item/frontend/bgsection/sodruzhestvo.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Белые двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(https://store.woodtechretail.ru/image/catalog/woodtech_item/frontend/bgsection/bg-home/0M_1M_AGK.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Двери в экошпоне
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>






	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/zadoor.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Шпонированные двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/shpon-modern.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Двери из массива
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/zadoor.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Алюминиевые двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/shpon-modern.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Современный стиль
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sect-home-catg-item shci-plv">
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/zadoor.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Белые двери
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
		<div class="shci-plv-item" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/shpon-modern.jpg);">
			<div class="shci-plv-item-bl">
				<div class="sect-home-catg-item-h">
					Двери в экошпоне
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="sect-home-catg-item shci-full">
		<div class="shci-full-bl" style="background-image: url(/image/catalog/woodtech_item/frontend/categoryimage/zadoor.jpg);">
			<div class="sect-home-catg-item-content">
				<div class="sect-home-catg-item-h">
					Эмалевые двери Wanmark
				</div>
				<div class="sect-home-catg-item-descr">
					Более 450 моделей, 2300 полотен в складе, 17 фабрик
				</div>
				<div class="sect-home-catg-item-butt">
					<a href="/mezhkomnatnye-dveri">Перейти</a>
				</div>
			</div>
		</div>
	</div>


</section>


<div id="common-home">
  <div class="home-content">
    <div class="container">
      <div class="row">{{ column_left }}
        {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
        
        
        
        
        {{ content_bottom }}</div>
        {{ column_right }}
        
        
      </div>
    </div>
  </div>
</div>
{{ footer }}